a, p, input, #logout{
	font-family: 'Shadows Into Light', serif;
    font-size: 20px;
    color: #CCA300;
}
h2{
	font-family: 'Inconsolata', serif;
    color: blue;
}
select, input{
	display: inline-block;
}
select{
	float: right;
}