*{
/*	border: 1px solid black;*/
}
#store-link{
	text-decoration: none;
	margin-left: 30px;
}
a, p{
	font-family: 'Shadows Into Light', serif;
    font-size: 20px;
}
a{
	color: grey;
}
h1{
	padding-left: 450px;
}
h2, #shopping_cart{
	display: inline-block;
}
#shopping_cart{
	float: right;
}
h1, h2{
	font-family: 'Inconsolata', serif;
/*    font-size: 40px;*/
    color: blue;
}
body{
	background-color: #CCA300;
}
#product_image{
	padding-left: 300px;
}
label{
	padding-left: 100px;
}
input{
	margin-left: 122px;
}